@model IEnumerable<RouteSystemMVC.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
               @Html.ActionLink("Editar","Edit",new {id = item.Id })|
               @Html.ActionLink("Detalhes","Details", new{id = item.Id})|
               @Html.ActionLink("Deletar","Delete",new{id = item.Id},
               new {onclick = $"return confirm('Deletar time : {item.Name} ?');"})
            </td>
        </tr>
}
    </tbody>
</table>
