@using MVCRouteSystem.Services
@model List<string>

@{
	ViewData["Title"] = "Index";
	
}

<h1>Rotas</h1>
<form asp-action="Create">
	<div class="form-group">
		<h5>Selecione o serviço</h5>
		<select class="form-select"  name="routeService" id="routeService">
			<option>...</option>
			@foreach (string service in ViewBag.servicesList)
			{
				<option value="@service">@service</option>
			}
		</select>
	</div>
	<hr />
	<div class="form-group">
		<h5>Selecione os times</h5>
		@foreach (Team team in await ServicesApi.GetCityTeams(ViewBag.routeCity))
		{
			<tr>
				<td>
					<div class="form-check">
						<input type="checkbox" id="routeTeams" name="routeTeams" value="@team.Name" />
						<label>@team.Name</label>
					</div>
				</td>
			</tr>
		}
	</div>
	<hr />
	<table class="table">
		<thead>
			<h5>Selecione as colunas</h5>
			@for (int i = 0; i < @Model.Count; i++)
			{
				<tr>
					<td>
						<div class="form-check">
							<input type="checkbox" id="selectColumn" name="selectColumn" value="@i" />
							@Html.DisplayFor(col => col[i])
						</div>
					</td>
				</tr>
			}
		</thead>
		<tbody>
		</tbody>
	</table>
	<div>
		<input type="submit" value="Gerar Documento" class="btn btn-outline-dark" />
	</div>
</form>

